html, body {
    margin: 0;
/*     font-family: Arial; */
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

/* OL */

.ol-scale-line {
    left: 40px;
}
.ol-zoom-extent{
    top: 12em;
}

/* UI */
.navbar-fixed-top {
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.navbar {
    height: 53px;
    border-left: medium none;
    border-top: medium none;
}

.navbar h1 {
    color: rgba(60,60,60,0.5);
    font-size: 70px;
    line-height: 20px;
    text-transform: uppercase;
}

.navbar-brand {
    padding-left: 0px;
    padding-top: 0px;
}

.ol-zoom {
    top: 108px;
}

.navbar #place-to-search {
    width: 300px;
}

.column-widgets {
    width: 250px;
    right: 0;
    position: absolute;
    top: 53px;
}

.column-widgets .widget {
    border-radius: 0px;
}

.column-widgets .panel-container {
    border-radius: 0px 0px 5px 5px;
    background-color:rgba(255,255,255,0.8);
}

#pulldown-content1 {
    right: 0;
}
#pulldown-content2 {
    right: 250px;
}
#pulldown-content3 {
    right: 500px;
}
#pulldown-content4 {
    right: 750px;
}

#layers_legend_btn {
    background: url("../img/btn_legend.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    float: left;
    height: 16px;
    margin-left: 20px;
    padding-left: 60px;
    width: 150px;
    margin-bottom: 5px;
}

#layers_list {
    list-style: none;
    padding-left: 0px;
    margin-left: 35px;
}

#layers_tv_block {
    border-bottom: 1px dotted #eee;
}

#tree-layers {
    padding-bottom: 2px;
}

#load_json {
    width: 150px;
    margin-right: 20px;
}

#infos-content {
    color: #d26105;
}

.infos-sep {
    border-bottom: 1px dotted #ccc;
}

input[type="checkbox"] {
    margin-top: 0px;
}

.btn-load {
    padding: 1px;
}

#search #obj-to-search {
    width: 127px;
    float: left;
    margin-right: 3px;
}

#search #search-results {
    max-height: 150px;
}

#search #search-results ul {
    padding-left: 30px; 
}

#search #search-results ul li.artere {
    list-style-image: url('../img/artere.png');
}
#search #search-results ul li.noeud {
    list-style-image: url('../img/noeud.png');
}
#search #search-results ul li.fourreau {
    list-style-image: url('../img/fourreau.png');
}
#search #search-results ul li.tranchee {
    list-style-image: url('../img/tranchee.png');
}

.mCSB_dragger {
    background: #ccc;
}


.layer-item {
    width:16px;
    height:18px;
    background: #999;
    margin-top:2px;
    float: left;
}

iframe {
    border: none;
    width: 100%;
    border-top: 10px solid #eee;
}

.layername {
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.layer-active {
    color: #ff0000;
}


.modal-header {
    border-bottom: none;
    color: #428BCA;
}

.aciTreeText {
    font-weight: normal;
}

.queryable {
    width: 10px;
    height: 20px;
    background: url("../img/queryable.png") no-repeat scroll left 5px rgba(0, 0, 0, 0);
    float: right;
}


/* Popup dialog */
#feature-infos,
#permalink-dialog {
    padding: 5px;
}

#permalink-content {
    padding: 10px;
}

#feature-infos-content table {
    margin-left: 5px;
    margin-right: 5px;
    width: 98%;
}

/* Bottom panel */

.bs-example:after {
    bottom: 0;
    color: #BBBBBB;
/*     content: "Example"; */
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
}

.bs-example {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #E5E5E5 #EEEEEE #EEEEEE;
    border-style: solid;
    border-width: 1px 0;
    bottom: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    margin: 0 auto;
    padding: 45px 15px 15px;
    position: absolute;
    width: 500px;
    z-index: 9999;
}
.bs-example {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
}

#mouse-position-control {
    border-bottom: 1px dotted #eee;
    margin-bottom: 5px;
}

#measure-dist-btn {
    float: left;
}

#measure-result {
    float: left;
    margin-left: 5px;
}