html, body {
    margin: 0;
/*     font-family: Arial; */
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

/* OL */

.ol-scale-line {
    left: 40px;
}
.ol-zoom-extent{
    top: 12em;
}

/* UI */
.navbar-fixed-top {
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.navbar {
    height: 53px;
    border-left: medium none;
    border-top: medium none;
}

.navbar h1 {
    color: rgba(60,60,60,0.5);
    font-size: 70px;
    line-height: 20px;
    text-transform: uppercase;
}

.navbar-brand {
    padding-left: 0px;
    padding-top: 0px;
}

.ol-zoom {
    top: 108px;
}

.navbar #place-to-search {
    width: 300px;
}

#pulldown-content {
    width: 250px;
    right: 0;
    position: absolute;
    top: 53px;
}

#pulldown-content .widget {
/*     background-color:rgba(20,20,20,0.5); */
    border-radius: 0px;
}

#pulldown-content .panel-container {
    border-radius: 0px 0px 5px 5px;
    background-color:rgba(255,255,255,0.8);
}


#layers_list {
    list-style: none;
    padding-left: 0px;
}

#infos-content {
    color: #d26105;
}

input[type="checkbox"] {
    margin-top: 0px;
}

.btn-load {
    padding: 1px;
}

#search #obj-to-search {
    width: 127px;
    float: left;
    margin-right: 3px;
}

#search #search-results {
    max-height: 150px;
}

#search #search-results ul {
    padding-left: 30px; 
}

#search #search-results ul li.artere {
    list-style-image: url('../img/artere.png');
}
#search #search-results ul li.noeud {
    list-style-image: url('../img/noeud.png');
}
#search #search-results ul li.fourreau {
    list-style-image: url('../img/fourreau.png');
}
#search #search-results ul li.tranchee {
    list-style-image: url('../img/tranchee.png');
}

.mCSB_dragger {
    background: #ccc;
}


.layer-item {
    width:16px;
    height:18px;
    background: #999;
    margin-top:2px;
    float: left;
}

iframe {
    border: none;
    width: 100%;
}

.layername {
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.layer-active {
    color: #ff0000;
}


.modal-header {
    border-bottom: none;
    color: #428BCA;
}

.aciTreeText {
    font-weight: normal;
}