<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://ol3js.org/en/master/build/ol.css" type="text/css">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/css/gracemap.css" />

    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/js/bootstrap/css/bootstrap.min.css" />

<!--     <script src="http://ol3js.org/en/master/build/ol.js" type="text/javascript"></script> -->

    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/js/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
    <script src='{{ STATIC_URL }}gracemap/js/jquery-ui-1.10.4/js/jquery-1.10.2.js' type="text/javascript"></script>
    <script src='{{ STATIC_URL }}gracemap/js/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.min.js' type="text/javascript"></script>
    <!--<script src="{{ STATIC_URL }}gracemap/js/gracemap.js" type="text/javascript"></script>-->
        

    <script src="{{ STATIC_URL }}gracemap/js/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   

    <title>Grace demo</title>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">

        <div id="pulldown-content" class="panel-group content in" style="height: auto;">
            <div class="panel panel-container">
                <div class="panel widget">
                    <a class="panel-heading accordion-toggle" href="#layers" data-parent="#pulldown-content" data-toggle="collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <span class="ng-scope" translate="">Couches</span>
                    </a>
                    <div id="layers" class="panel-collapse in" style="height: auto;">
                        <div class="panel-body ng-scope" ng-controller="">
                            <ul id="layers_list">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel widget">
                    <a class="panel-heading accordion-toggle" href="#tools" data-parent="#pulldown-content" data-toggle="collapse">
                        <span class="glyphicon glyphicon-wrench"></span>
                        <span class="ng-scope" translate="">Outils</span>
                    </a>
                    <div id="tools" class="panel-collapse in" style="height: auto;">
                        <div class="panel-body ng-scope" ng-controller="">
                            A venir
                        </div>
                    </div>
                </div>
                <div class="panel widget">
                    <a class="panel-heading accordion-toggle" href="#search" data-parent="#pulldown-content" data-toggle="collapse">
                        <span class="glyphicon glyphicon-book"></span>
                        <span class="ng-scope" translate="">Recherche</span>
                    </a>
                    <div id="search" class="panel-collapse in" style="height: auto;">
                        <div class="panel-body ng-scope" ng-controller="">
                            A venir
                        </div>
                    </div>
                </div>
                <div class="panel widget">
                    <a class="panel-heading accordion-toggle" href="#infos" data-parent="#pulldown-content" data-toggle="collapse">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="ng-scope" translate="">Infos</span>
                    </a>
                    <div id="infos" class="panel-collapse in" style="height: auto;">
                        <div id="infos-content" class="panel-body ng-scope" ng-controller="">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Grace demo</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="active"><a href="#">Lien</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action 1</a></li>
                        <li><a href="#">Action 2</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Action 3</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Commune">
                </div>
                <button type="submit" class="btn btn-default">Localiser</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-target="#pulldown-content" data-toggle="collapse">Widgets</a></li>
                <li><a href="#" data-target="#map-infos" data-toggle="modal">A propos</a></li>
            </ul>
            </div>
        </div>
        </nav>
    </div>

    <!-- A propos -->
    <div class="modal fade" id="map-infos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">A propos</h4>
        </div>
        <div class="modal-body">
            Gr@ce démo - en cours de développement.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
    </div>

    <!-- Map -->
    <div id="map" class="map"></div>

    <!-- These scripts must be loaded here -->
    <script src="http://ol3js.org/en/master/build/ol.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}gracemap/js/gracemap_styles.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}gracemap/js/gracemap.js" type="text/javascript"></script>

  </body>
</html>