<!doctype html>
<html lang="en">
  <head>
<!--     <link rel="stylesheet" href="http://ol3js.org/en/master/css/ol.css" type="text/css"> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/js/ol3/css/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/css/gracemap.css" />    
    
    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/js/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/js/malihu-custom-scrollbar/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/js/aciTree/css/aciTree.css" media="all" type="text/css">
    
    <script src="http://maps.google.com/maps?file=api&amp;v=3" type="text/javascript"></script>
    <script src='{{ STATIC_URL }}gracemap/js/jquery-ui-1.10.4/js/jquery-1.10.2.js' type="text/javascript"></script>
    <script src='{{ STATIC_URL }}gracemap/js/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.min.js' type="text/javascript"></script>
    <script src="{{ STATIC_URL }}gracemap/js/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}gracemap/js/malihu-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
    
    <script src='{{ STATIC_URL }}gracemap/js/proj4.js' type="text/javascript"></script>
    
    <script src="{{ STATIC_URL }}gracemap/js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}gracemap/js/backbone-min.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}gracemap/js/aciTree/js/jquery.aciPlugin.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}gracemap/js/aciTree/js/jquery.aciTree.core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}gracemap/js/aciTree/js/jquery.aciTree.selectable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}gracemap/js/aciTree/js/jquery.aciTree.checkbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}gracemap/js/aciTree/js/jquery.aciTree.radio.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}gracemap/js/aciTree/js/jquery.aciTree.utils.js"></script>
    
    <title>Grace demo</title>

  </head>
  <body>
    <div class="navbar navbar-fixed-top">

        <div id="pulldown-content1" class="column-widgets panel-group content in" style="height: auto;">
            <div class="panel panel-container">
                <div class="panel widget">
                    <a class="panel-heading accordion-toggle" href="#layers" data-parent="#pulldown-content1" data-toggle="collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        <span class="ng-scope" translate="">Couches</span>
                    </a>
                    <div id="layers" class="panel-collapse in" style="height: auto;">
                        <div id="layers_tv_block" class="panel-body ng-scope" ng-controller="">
                            <select class="form-control" id="layer-select">
                                <option value="OSM" selected>OSM</option>
                                <option value="OSM_MapQuest">OSM MapQuest</option>
                                <option value="Aerial">Bing Aérien</option>
                                <option value="AerialWithLabels">Bing Aérien avec labels</option>
                                <option value="Road">Bing routes</option>
                            </select>
                            
                            <div class="panel-body ng-scope aciTree" id="tree-layers" ng-controller="">
                            </div>
                            <div id="layers_legend_btn">Légende</div>
<!--                             <input id="load_json" type="button" class="btn btn-default btn-load" value="Load JSON" onclick="gd.mapView.loadGeoJSON(this)"/> -->
                        </div>
                        
                        <script>
                            // Enable legend
                            $('#layers_legend_btn').popover(
                            {
                                title: 'Légende',
                                trigger: 'hover',
                                html: true,
                                placement: 'left',
                                content: '<img src="{{ STATIC_URL }}gracemap/img/layers_legend.png" alt="legende">'
                            });            
                        </script>
                        
                        <div id="layers_list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="pulldown-content2" class="column-widgets panel-group content in" style="height: auto;">
            <div class="panel panel-container">
                <div class="panel widget">
                    <a class="panel-heading accordion-toggle collapsed" href="#tools" data-parent="#pulldown-content2" data-toggle="collapse">
                        <span class="glyphicon glyphicon-wrench"></span>
                        <span class="ng-scope" translate="">Outils</span>
                    </a>
                    <div id="tools" class="panel-collapse collapse" style="height: auto;">
                        <div class="panel-body ng-scope" ng-controller="">
                            <div id="mouse-position-control">
                                <select class="form-control" id="mouse-position-epsg">
                                    <option value="EPSG:2154">Lambert93</option>
                                    <option value="EPSG:4326" selected>Lon/lat</option>
                                    <option value="EPSG:3857">Mercator</option>
                                </select>
                                Position :
                                <div id="mouse-position"></div>
                            </div>
                            
                            <input id="measure-dist-btn" type="button" class="btn btn-default btn-load" value="Mesure linéaire" onclick="gd.mapView.measureLine()"/>
                            <div id="measure-result"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="pulldown-content3" class="column-widgets panel-group content in" style="height: auto;">
            <div class="panel panel-container">        
                <div class="panel widget">
                    <a class="panel-heading accordion-toggle collapsed" href="#search" data-parent="#pulldown-content3" data-toggle="collapse">
                        <span class="glyphicon glyphicon-book"></span>
                        <span class="ng-scope" translate="">Recherche</span>
                    </a>
                    <div id="search" class="panel-collapse collapse" style="height: auto;">
                        <div class="panel-body ng-scope" ng-controller="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="A chercher" id="obj-to-search">
                                <button id="search_obj" class="btn btn-default">Chercher</button>   
                            </div>
                            <div id="search-results">
                                <ul class="search-result-list"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <div id="pulldown-content4" class="column-widgets panel-group content in" style="height: auto;">
            <div class="panel panel-container">        
                <div class="panel widget">
                    <a class="panel-heading accordion-toggle collapsed" href="#infos" data-parent="#pulldown-content4" data-toggle="collapse">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="ng-scope" translate="">Infos</span>
                    </a>
                    <div id="infos" class="panel-collapse collapse" style="height: auto;">
                        <div id="infos-content" class="panel-body ng-scope" ng-controller="">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{{ STATIC_URL }}gracemap/img/logo.png" alt="Grace demo"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tapez votre adresse..." id="place-to-search">
                </div>
                <select class="form-control" id="search_place">
                    <option value="nominatim">Nominatim</option>
                    <option value="google">Google</option>
                </select>                
                
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="javascript:gd.mapView.printMap('{{ STATIC_URL }}gracemap/css/gracemap_print.css');" >Imprimer la vue courante</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-target="#kml-infos" data-toggle="modal">Ajout de KML</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Ingénierie</a></li>
                        <li><a href="#">Capa réseau</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Financier</a></li>
                        <li><a href="#">RODP</a></li>
                    </ul>
                </li>
<!--                 <li><a href="#" data-target="#pulldown-content" data-toggle="collapse">Widgets</a></li> -->
                <li><a href="#" onclick="javascript:gd.mapView.getPermalink()">Permalink</a></li>
                <li><a href="#" data-target="#map-infos" data-toggle="modal">A propos</a></li>
            </ul>
            </div>
        </div>
        </nav>
    </div>

    <!-- Bottom bar for results     -->
    <div id="json-objects" class="panel">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#json-objects-collapse">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#json-objects-collapse">Objets</a>
                    </h4>
                </div>
                <div id="json-objects-collapse" class="panel-collapse collapse">
                <div id="json-objects-contents" class="panel-body">
                </div>
                </div>
            </div>
        </div>
    </div>


    
    <!-- A propos -->
    <div class="modal fade" id="map-infos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">A propos</h4>
            </div>
            <div class="modal-body">
            
                <p>Ce <strong>prototype de portail de démonstration 100% open source</strong>, nommé grace demo, a été développé par Makina Corpus en collaboration avec CADaGEO et Oise THD. L'objectif est de proposer un outil permettant d'exploiter une base de données conforme au geostandard ANT.</p>

                <p><strong>Gr@ce</strong> est le nom du portail de géoréférencement et de recensement des infrastructures de communications électroniques de la région Aquitaine.<br /><a class="external" href="http://grace.aquitaine.fr/accueil/">http://grace.aquitaine.fr/accueil/</a></p>

                <p>Le <strong>modèle de données</strong> dédié à l'aménagement numérique du territoire (ANT) est disponible sous licence libre et est en grande partie à l'origine du <strong>géostandard ANT</strong> validé par la Covadis. Toutefois Grace reste un nom d'usage pour désigner ce modèle de données.<br />Page officielle :<br /><a class="external" href="http://www.certu.fr/geostandard-amenagement-numerique-a350.html">http://www.certu.fr/geostandard-amenagement-numerique-a350.html</a></p>

                <p>Les <strong>données réseau</strong> sont la propriété de Gironde Numérique et ont été aimablement mises à disposition de CADaGEO afin de promouvoir le projet Gr@ce.</p>

                <p>Un <strong>groupe de discussion</strong> ouvert à tous pour traiter des sujets liés à Grace est disponible. <a class="external" href="https://groups.google.com/forum/#!forum/geostandard-ant-users">https://groups.google.com/forum/#!forum/geostandard-ant-users</a><br /><a class="email" href="mailto:geostandard-ant-users@googlegroups.com">geostandard-ant-users@googlegroups.com</a></p>

                <p>Les sources :<br /><a class="external" href="https://github.com/makinacorpus/gracedemo">https://github.com/makinacorpus/gracedemo</a></p>            
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Kml infos -->
    <div class="modal fade" id="kml-infos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">A propos</h4>
            </div>
            <div class="modal-body">
               <p>Ajoutez vos KML, GeoJSON, GPX en faisant un drag'n'drop de votre fichier directement sur la carte.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>
    
    
    <!-- GetFeatureInfos Dialog -->
    <div class="modal fade" id="feature-infos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Infos</h4>
            </div>
            <div id="feature-infos-content">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>
    
    <!-- Permalink dialog -->
    <div class="modal fade" id="permalink-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Permalink</h4>
            </div>
            <div id="permalink-content">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>
    
    
    <!-- Map -->
    <div id="map" class="map"></div>

    <script>
        var base_url = "{{ base_url }}";
        var init_center = [{{ center }}];
        var init_zoom = "{{ zoom }}";
    </script>
    <!-- These scripts must be loaded here -->
    <script src="{{ STATIC_URL }}gracemap/js/ol3/ol-whitespace.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}gracemap/js/main.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}gracemap/js/gracemap_styles.js" type="text/javascript"></script>
    
    <script src="{{ STATIC_URL }}gracemap/js/gd_results_view.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}gracemap/js/gd_layers_view.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}gracemap/js/gd_map_view.js" type="text/javascript"></script>
    
  </body>
</html>