<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://ol3js.org/en/master/build/ol.css" type="text/css">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/css/gracemap.css" />

    <script src="http://ol3js.org/en/master/build/ol.js" type="text/javascript"></script>


    <link rel="stylesheet" href="{{ STATIC_URL }}gracemap/js/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
    <script src='{{ STATIC_URL }}gracemap/js/jquery-ui-1.10.4/js/jquery-1.10.2.js' type="text/javascript"></script>
    <script src='{{ STATIC_URL }}gracemap/js/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.min.js' type="text/javascript"></script>
    <script src="{{ STATIC_URL }}gracemap/js/gracemap.js" type="text/javascript"></script>

    <title>Grace demo</title>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
        <h1>Grace demo</h1>
        <div class="navbar-inner"></div>
    </div>

    <div id="map" class="map"></div>

  </body>
</html>