# Django settings for gracedemo project.

DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASE_ID = 'default'
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', 
        'NAME': 'dbname',                
        'USER': 'dbuser',                
        'PASSWORD': 'userpassword',      
        'HOST': 'localhost',             
        'PORT': '5432',                  
    },
    'grace': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', 
        'NAME': 'grace',                
        'USER': 'gisuser',                
        'PASSWORD': 'userpassword',      
        'HOST': 'localhost',             
        'PORT': '5432',                  
    }
}
MBTILES_APP_CONFIG = { 'MBTILES_ROOT' : '/path_to_mbtiles/' }
QGIS_SERVER_URL = 'http://localhost/cgi-bin/gracedemo/qgis_mapserv.fcgi'
