# Django settings for gracedemo project.

DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASE_ID = 'default'
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', 
        'NAME': 'dbname',                
        'USER': 'dbuser',                
        'PASSWORD': 'userpassword',      
        'HOST': 'localhost',             
        'PORT': '5432',                  
    },
    'grace': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', 
        'NAME': 'grace',                
        'USER': 'gisuser',                
        'PASSWORD': 'userpassword',      
        'HOST': 'localhost',             
        'PORT': '5432',                  
    }
}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'class': 'django.utils.log.AdminEmailHandler'
        },
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
        },
    },
    'loggers': {
        '': {
            'handlers': ['console'],
            'level': 'DEBUG',
            'propagate': False,
        },        
        'django.request': {
            'handlers': ['console', 'mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        },
        'django': {
            'handlers': ['console', 'mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        }        
    }
}

MBTILES_APP_CONFIG = { 'MBTILES_ROOT' : '/path_to_mbtiles/' }
QGIS_SERVER_URL = 'http://localhost/cgi-bin/gracedemo/qgis_mapserv.fcgi'
